@page "/AllContent"

<div class="container">
    <div class="get-quote">
        <div class="row">
            <div class="col-sm-10 col-12">
                <h1 class="left-block float-left">All Content</h1>
            </div>
            <div class="col-sm-2 col-12">
                <a class="btn btn-primary right-block float-right" href="createcontent" role="button">Add Content</a>
            </div>
        </div>
    </div>
</div>

<SELearning.Shared.Content.AllContent/>