@page "/AllContent"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SELearning.Core.Content
@using SELearning.Shared.Content;

@inject HttpClient _httpClient
@inject ToastService _toastService

<div class="container">
    <div class="get-quote">
        <div class="row">
            <div class="col-sm-10 col-12">
                <h1 class="left-block float-left">All Content</h1>
            </div>
            <div class="col-sm-2 col-12">
                <a class="btn btn-primary right-block float-right" href="CreateContent" role="button">Add Content</a>
            </div>
        </div>
    </div>
</div>

<ContentList RetrieveContent="@RetrieveContent"/>

@code {

    private async Task<List<ContentDTO>> RetrieveContent()
    {
        List<ContentDTO> contents = new();

        try
        {
            var content = await _httpClient.GetFromJsonAsync<IEnumerable<ContentDTO>>("Content");
            if (content == null)
            {
                _toastService.AddToast(new ToastNotification("No Content Found", ToastType.Warning));
                return contents;
            }

            return content.ToList();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        return contents;
    }

}
