@page "/"

<h1>SELearning</h1>

<p>SELearning is a webpage for people interested in learning software development. You can take a look at all the content, rate it, comment it or rate other people's comments.
You can even upload your own content.</p>

<p>The page also includes a credibility system for users. Based on your credibilty score you will be able to unlock more and more features, eg. deleting other users' content, their comments, etc.</p> 

<p>If you wish to increase your credibility score you can upload content or comment content and hopefully others will upvote it.</p>


