@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SELearning.Core.Content

@inject HttpClient Http

<section class="comment-list container-fluid"> <!-- NOTE: I am not sure the it is necessary to have container fluid... but i am using it just to be sure that this 'component' looks good if no container is supplied -->
    <div class="row">
        <!-- List of comments -->
        @foreach(var content in _allContent)
        {
            <ContentTile content="@content" OnContentDeleted="@OnContentDeleted"/>
        }
    </div>
</section>

@code{
    private List<ContentDTO> _allContent = new();

    protected async override void OnInitialized()
    {
        await RetrieveContent();
    }

    private void OnContentDeleted(ContentDTO content)
    {
        _allContent.Remove(content);
        StateHasChanged();
    }

    protected async Task RetrieveContent()
    {
        try
        {
            var content = await Http.GetFromJsonAsync<IEnumerable<ContentDTO>>("Content");
            _allContent = content.ToList();
            StateHasChanged();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}