@using SELearning.Core

@inject HttpClient Http

<section class="comment-list container-fluid"> <!-- NOTE: I am not sure the it is necessary to have container fluid... but i am using it just to be sure that this 'component' looks good if no container is supplied -->
    <div class="row">
        <!-- List of comments -->
        @foreach(Content content in _allContent)
        {
            <ContentTile Content="@content" OnContentDeleted="@OnContentDeleted"/>
        }
    </div>
</section>

@code{
    [Parameter]
    public string SectionId { get; set; }

    private Content _content = new();

    private IList<Content> _allContent;
    
    protected override void OnInitialized()
    {
        _allContent = new List<Content>()
        {
            new Content { Id = "1", Author = "Asger", Title = "Hello", Description = "Some quick example text to build on the card title and make up the bulk of the card's content.", VideoLink = "Video", Rating = 3 },
            new Content { Id = "2", Author = "Asger", Title = "Hello", Description = "Some quick example text to build on the card title and make up the bulk of the card's content.", VideoLink = "Video", Rating = 3 },
            new Content { Id = "3", Author = "Asger", Title = "Hello", Description = "Some quick example text to build on the card title and make up the bulk of the card's content.", VideoLink = "Video", Rating = 3 },
            new Content { Id = "4", Author = "Asger", Title = "Hello", Description = "Some quick example text to build on the card title and make up the bulk of the card's content.", VideoLink = "Video", Rating = 3 },
            new Content { Id = "5", Author = "Asger", Title = "Hello", Description = "Some quick example text to build on the card title and make up the bulk of the card's content.", VideoLink = "Video", Rating = 3 },
            new Content { Id = "6", Author = "Asger", Title = "Hello", Description = "Some quick example text to build on the card title and make up the bulk of the card's content.", VideoLink = "Video", Rating = 3 },
            new Content { Id = "7", Author = "Asger", Title = "Hello", Description = "Some quick example text to build on the card title and make up the bulk of the card's content.", VideoLink = "Video", Rating = 3 },
        };
    }

    private void OnContentDeleted(Content content)
    {
        System.Console.WriteLine($"Comment from {content.Author} is deleted!");
        _allContent.Remove(content);
    }

}