@using SELearning.Core.Content

@inject HttpClient _httpClient

<section class="comment-list container-fluid">
    <!-- NOTE: I am not sure the it is necessary to have container fluid... but i am using it just to be sure that this 'component' looks good if no container is supplied -->
    <div class="row">
        <!-- List of comments -->
        @foreach (var content in _contents)
        {
            <ContentTile content="@content" OnContentDeleted="@OnContentDeleted"/>
        }
    </div>
</section>

@code {
    [Parameter]
    public Func<Task<List<ContentDTO>>> RetrieveContent { get; set; }

    private List<ContentDTO> _contents = new();

    protected override async void OnInitialized()
    {
        _contents = await RetrieveContent.Invoke();
        StateHasChanged();
    }

    private void OnContentDeleted(ContentDTO content)
    {
        _contents.Remove(content);
        StateHasChanged();
    }
}
