@using SELearning.Core

<div class="card section" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Section.Id</h5>
    <p class="card-text">@Section.Description</p>
  </div>
  <div class="card-body">
    <div class="btn-group">
        <a href='@string.Format("/section/{0}", Section.Id)' class="btn btn-primary">View Section</a>
        <button class="btn btn-default text-danger">Delete</button>
    </div>
  </div>
</div>

@code {

    [Parameter]
    public Section Section { get; set; }

}