@using Core.Section
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SELearning.Core.Content
@using System.Net
@inject HttpClient Http
@inject ToastService toasts;

<div class="card section" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Sec.Title</h5>
        <p class="card-text">@Sec.Description</p>
    </div>
    <div class="card-body">
        <div class="btn-group">
            <a href='@string.Format("/section/{0}", Sec.Id)' class="btn btn-primary">View Section</a>
            <button @onclick="Delete" class="btn btn-default text-danger">Delete</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public SectionDTO Sec { get; init; }

    [Parameter]
    public Action<SectionDTO> OnDeleted { get; set; }

    private async Task Delete()
    {
        try
        {
            var responseMessage = await Http.DeleteAsync($"section/{Sec.Id}");

            if (responseMessage.StatusCode == HttpStatusCode.Forbidden)
            {
                toasts.AddToast(ToastNotification.CreateUnauthorized("delete sections"));
                return;
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        if (OnDeleted != null)
            OnDeleted(Sec);
    }
}