@using SELearning.Core

@inject HttpClient Http

<section class="comment-list container-fluid"> <!-- NOTE: I am not sure the it is necessary to have container fluid... but i am using it just to be sure that this 'component' looks good if no container is supplied -->
    <div class="row">
        <!-- List of comments -->
        @foreach(Section sec in _sections)
        {
            <SectionTile Section="@sec"/>
        }
    </div>
</section>

@code{

    private Section _section = new();

    private IList<Section> _sections;
    
    protected override void OnInitialized()
    {
        _sections = new List<Section>()
        {
            new Section { Id = "1", Title = "Section", Description = "Some quick example text to build on the card title and make up the bulk of the card's content." },
            new Section { Id = "2", Title = "Section", Description = "Some quick example text to build on the card title and make up the bulk of the card's content." },
            new Section { Id = "3", Title = "Section", Description = "Some quick example text to build on the card title and make up the bulk of the card's content." },
            new Section { Id = "4", Title = "Section", Description = "Some quick example text to build on the card title and make up the bulk of the card's content." },
            new Section { Id = "5", Title = "Section", Description = "Some quick example text to build on the card title and make up the bulk of the card's content." },
            new Section { Id = "6", Title = "Section", Description = "Some quick example text to build on the card title and make up the bulk of the card's content." },
            new Section { Id = "7", Title = "Section", Description = "Some quick example text to build on the card title and make up the bulk of the card's content." },
            
        };
    }

    private void OnSectionDeleted(Section sec)
    {
        System.Console.WriteLine($"Comment from {sec.Id} is deleted!");
        _sections.Remove(sec);
    }

}