@using Core.Section
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SELearning.Core.Content

@inject HttpClient _httpClient

<section class="comment-list container-fluid">
    <!-- NOTE: I am not sure the it is necessary to have container fluid... but i am using it just to be sure that this 'component' looks good if no container is supplied -->
    <div class="row">
        <!-- List of comments -->
        @foreach (var sec in _sections)
        {
            <SectionTile Sec="@sec" OnDeleted="@OnSectionDeleted"/>
        }
    </div>
</section>

@code{
    private List<SectionDTO> _sections = new();

    protected override async void OnInitialized()
    {
        await RetrieveSections();
    }

    private async Task RetrieveSections()
    {
        try
        {
            var sectionDtos = await _httpClient.GetFromJsonAsync<IEnumerable<SectionDTO>>("Section");
            _sections.AddRange(sectionDtos);
            StateHasChanged();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    void OnSectionDeleted(SectionDTO deletedSection)
    {
        _sections.Remove(deletedSection);
        StateHasChanged();
    }

}
