@inject ToastService Service

<div style="position: relative;">
    <div style="position: fixed; top: 60; right: 0; width: 22rem; z-index: 1">
        @foreach (var notification in _notifications)
        {
            <ToastNotificationComponent Notification="@notification" />
        }
    </div>
</div>

@code {
    private IList<ToastNotification> _notifications { get; set; }

    protected override void OnInitialized()
    {
        GetNotifications();
        Service.AddHandler(() => GetNotifications());
    }

    protected void GetNotifications() {
        _notifications = Service.Notifications;
        System.Console.WriteLine(_notifications);
        System.Console.WriteLine(_notifications.Count);
        StateHasChanged();
    }
}
