@inject ToastService _toastService

<div style="position: relative;">
    <div style="position: fixed; top: 60px; right: 0; width: 22rem; z-index: 1">
        @foreach (var notification in Notifications)
        {
            <ToastNotificationComponent Notification="@notification"/>
        }
    </div>
</div>

@code {
    private IList<ToastNotification> Notifications { get; set; }

    protected override void OnInitialized()
    {
        GetNotifications();
        _toastService.AddHandler(GetNotifications);
    }

    private void GetNotifications()
    {
        Notifications = _toastService.Notifications;
        StateHasChanged();
    }

}
